.DS_Store
node_modules
*.log
npm-debug.log.*
explorations
TODOs.md
build/*.js
dist/*
dist/*.gz
dist/*.map
dist/vue.js
dist/vue.min.js
dist/vue.common.min.js
test/e2e/reports
test/e2e/screenshots
coverage
examples/*/*